/* line 30, ../sass/style.scss */
html {
  overflow-x: hidden;
}
/* line 31, ../sass/style.scss */
html a:active, html a:focus {
  outline: none;
}
/* line 33, ../sass/style.scss */
html input, html textarea {
  outline: none;
}
/* line 34, ../sass/style.scss */
html input:active, html textarea:active {
  outline: none;
}
/* line 35, ../sass/style.scss */
html :focus {
  outline: none;
}
/* line 36, ../sass/style.scss */
html textarea {
  resize: none;
}
/* line 37, ../sass/style.scss */
html textarea {
  resize: vertical;
}
/* line 38, ../sass/style.scss */
html textarea {
  resize: horizontal;
}
/* line 39, ../sass/style.scss */
html button:active, html button:focus {
  outline: none !important;
}
/* line 42, ../sass/style.scss */
html button::-moz-focus-inner {
  border: 0 !important;
}
/* line 48, ../sass/style.scss */
html .register_button {
  width: 460px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
}
/* line 54, ../sass/style.scss */
html .register_button a {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  display: block;
  line-height: 43px;
  text-decoration: none;
}
/* line 63, ../sass/style.scss */
html .register_button a:hover {
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 68, ../sass/style.scss */
html .button {
  width: 138px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #c6afa1;
  padding-left: 16px;
  margin-left: 93px;
}
/* line 76, ../sass/style.scss */
html .button a {
  font-family: OpenSansItalic;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #c6afa1;
  text-decoration: none;
  line-height: 27px;
  display: block;
  position: relative;
}
/* line 86, ../sass/style.scss */
html .button a span {
  font-family: OpenSans;
  font-style: normal;
  border-left: 1px solid;
  margin-left: 8px;
  padding-left: 12px;
  height: 24px;
  line-height: 25px;
  position: absolute;
  margin-top: 2px;
}
/* line 100, ../sass/style.scss */
html .m_call_wrap {
  display: none;
}
/* line 105, ../sass/style.scss */
html #map {
  height: 420px;
  width: 555px;
}
/* line 109, ../sass/style.scss */
html .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 113, ../sass/style.scss */
html .gm-style-iw h4, html .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 117, ../sass/style.scss */
html .gm-style-iw a {
  color: #4272db;
}

/* line 122, ../sass/style.scss */
body {
  font-family: OpenSans;
}
/* line 124, ../sass/style.scss */
body .about_advantages_wrap {
  background-color: #fdfaf6;
  min-height: 903px;
}
/* line 128, ../sass/style.scss */
body .treatment_wrap {
  background-color: #fffffd;
  height: 1151px;
}
/* line 132, ../sass/style.scss */
body .price_list_wrap {
  background-color: #fcf8f4;
}
/* line 135, ../sass/style.scss */
body .photo_gallery_wrap {
  background-color: #fffffd;
}
/* line 141, ../sass/style.scss */
body .address_wrap {
  background-color: #fafafa;
  margin-top: -184px;
  padding-top: 200px;
  height: 843px;
}

@media screen and (max-width: 600px) {
  /* line 149, ../sass/style.scss */
  #wpadminbar {
    position: fixed;
  }
}
/* line 157, ../sass/style.scss */
.site .min_call_wrap {
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  width: 64px;
  height: 45px;
  border-radius: 2px;
  background-color: #932724;
  z-index: 40;
}
/* line 167, ../sass/style.scss */
.site .min_call_wrap a {
  display: block;
  padding-bottom: 10px;
}
/* line 171, ../sass/style.scss */
.site .min_call_wrap img {
  margin-top: 12px;
  margin-left: 10px;
}
/* line 176, ../sass/style.scss */
.site .max_call_wrap {
  display: none;
  position: fixed;
  top: 100px;
  right: 0;
  max-width: 402px;
  min-width: 320px;
  height: 160px;
  border-radius: 2px;
  background-color: rgba(147, 39, 36, 0.9);
  z-index: 1000000;
}
/* line 187, ../sass/style.scss */
.site .max_call_wrap .close-button-white {
  display: none;
}
/* line 190, ../sass/style.scss */
.site .max_call_wrap .call {
  display: none;
}
/* line 193, ../sass/style.scss */
.site .max_call_wrap .phone {
  margin-top: 30px;
  margin-left: 25px;
}
/* line 196, ../sass/style.scss */
.site .max_call_wrap .phone a {
  text-decoration: none;
}
/* line 198, ../sass/style.scss */
.site .max_call_wrap .phone a img {
  float: left;
  margin-top: 5px;
}
/* line 202, ../sass/style.scss */
.site .max_call_wrap .phone a p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #ffffff;
  padding-left: 34px;
}
/* line 212, ../sass/style.scss */
.site .max_call_wrap .time {
  margin-top: 19px;
  margin-left: 25px;
}
/* line 215, ../sass/style.scss */
.site .max_call_wrap .time img {
  float: left;
  margin-top: 5px;
  padding-bottom: 30px;
}
/* line 220, ../sass/style.scss */
.site .max_call_wrap .time p {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #ffffff;
  padding-left: 34px;
}

/* line 232, ../sass/style.scss */
.hamburger_menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -15px;
  width: 105%;
  height: 640px;
  opacity: 0.9;
  background-color: #ffffff;
  z-index: 20;
}
/* line 245, ../sass/style.scss */
.hamburger_menu div.close_button {
  position: absolute;
  top: 11px;
  left: 30px;
  z-index: 30;
}
/* line 251, ../sass/style.scss */
.hamburger_menu ul {
  position: absolute;
  top: 60px;
  left: 30px;
  list-style-type: none;
  margin-top: 23px;
  padding: 0;
  overflow: hidden;
  z-index: 30;
}
/* line 261, ../sass/style.scss */
.hamburger_menu li {
  margin-bottom: 52px;
}
/* line 263, ../sass/style.scss */
.hamburger_menu li a {
  font-family: CormorantBold;
  font-size: 24px;
  font-weight: 700;
  color: #932724;
  z-index: 30;
  text-decoration: none;
}
/* line 272, ../sass/style.scss */
.hamburger_menu .line-top {
  position: absolute;
  top: 135px;
  left: 25px;
  width: 92.5%;
  z-index: 30;
  border-bottom: 3px solid #932724;
}
/* line 280, ../sass/style.scss */
.hamburger_menu .line-bottom {
  position: absolute;
  top: 579px;
  left: 25px;
  width: 92.5%;
  z-index: 30;
  border-bottom: 3px solid #932724;
}

/* line 296, ../sass/style.scss */
.header .white_line {
  height: 68px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
  position: fixed;
  z-index: 300;
  width: 100%;
}
/* line 306, ../sass/style.scss */
.header .site-branding {
  float: left;
  margin-top: 13px;
}
/* line 310, ../sass/style.scss */
.header .menu-toggle {
  display: none;
  float: right;
  margin-top: 8px;
  border: 0;
  background-color: #fff;
}
/* line 319, ../sass/style.scss */
.header header nav {
  float: right;
}
/* line 321, ../sass/style.scss */
.header header nav ul {
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
}
/* line 326, ../sass/style.scss */
.header header nav li {
  float: left;
}
/* line 328, ../sass/style.scss */
.header header nav li.active {
  border-bottom: 2px solid #932724;
}
/* line 331, ../sass/style.scss */
.header header nav li:hover {
  border-bottom: 2px solid #932724;
}
/* line 334, ../sass/style.scss */
.header header nav li a {
  display: block;
  font-family: CormorantBold;
  font-size: 19px;
  font-weight: 700;
  color: #932724;
  margin: 0 25px;
  text-decoration: none;
  padding-bottom: 19px;
  /*          &.active {
              border-bottom: 2px solid #932724;
            }*/
}

/* line 353, ../sass/style.scss */
.top_content {
  position: relative;
  background: url(../images/city_house.jpg) no-repeat center;
  background-size: cover;
  width: 80vw;
  margin: 0 auto;
  background-attachment: fixed;
}
/* line 360, ../sass/style.scss */
.top_content .grad_left {
  height: 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fdfaf6);
}
/* line 366, ../sass/style.scss */
.top_content .grad_right {
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fdfaf6);
}
/* line 371, ../sass/style.scss */
.top_content .logo {
  margin-top: 277px;
  text-align: center;
}
/* line 375, ../sass/style.scss */
.top_content .site-description {
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.38;
  color: #932724;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 227px;
}

/* line 388, ../sass/style.scss */
.slider_top {
  position: relative;
  max-width: 945px;
  max-height: 379px;
  margin: -199px auto 0;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
/* line 397, ../sass/style.scss */
.slider_top .item img {
  width: 100%;
}
/* line 401, ../sass/style.scss */
.slider_top img {
  border-radius: 5px;
}
/* line 404, ../sass/style.scss */
.slider_top .slick-prev {
  position: absolute;
  right: 31px;
  bottom: -1px;
  z-index: 10;
}
/* line 410, ../sass/style.scss */
.slider_top .slick-next {
  position: absolute;
  right: 0;
  bottom: -1px;
}

/* line 417, ../sass/style.scss */
.about_advantages {
  margin-top: 130px;
}
/* line 419, ../sass/style.scss */
.about_advantages .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 426, ../sass/style.scss */
.about_advantages .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 432, ../sass/style.scss */
.about_advantages .about {
  overflow: hidden;
}
/* line 434, ../sass/style.scss */
.about_advantages .about .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 443, ../sass/style.scss */
.about_advantages .about .register_button {
  margin-top: 42px;
  float: right;
}
/* line 449, ../sass/style.scss */
.about_advantages .advantages ul {
  margin-left: 60px;
  list-style-type: none;
}
/* line 452, ../sass/style.scss */
.about_advantages .advantages ul li {
  margin-bottom: 42px;
}
/* line 454, ../sass/style.scss */
.about_advantages .advantages ul li .img {
  float: left;
}
/* line 456, ../sass/style.scss */
.about_advantages .advantages ul li .img img {
  width: 67px;
  height: 67px;
}
/* line 461, ../sass/style.scss */
.about_advantages .advantages ul li .words {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  color: #3e3e3e;
  margin-left: 89px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 480, ../sass/style.scss */
.treatment {
  margin-top: 52px;
}
/* line 482, ../sass/style.scss */
.treatment .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
}
/* line 491, ../sass/style.scss */
.treatment .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 498, ../sass/style.scss */
.treatment .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: #9d9d9d;
  margin-top: 25px;
  text-align: left;
}
/* line 508, ../sass/style.scss */
.treatment .items {
  margin-top: 38px;
}
/* line 510, ../sass/style.scss */
.treatment .items .item {
  margin: 0 auto;
  max-width: 360px;
  overflow: hidden;
  padding-top: 48px;
  height: 235px;
}
/* line 516, ../sass/style.scss */
.treatment .items .item img {
  float: left;
}
/* line 519, ../sass/style.scss */
.treatment .items .item .title {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  text-align: left;
  margin: 0;
  margin-left: 93px;
  margin-bottom: 15px;
}
/* line 530, ../sass/style.scss */
.treatment .items .item .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 93px;
  margin-bottom: 18px;
}
/* line 541, ../sass/style.scss */
.treatment .register_button {
  margin: 31px auto 0;
}

/* line 546, ../sass/style.scss */
.price_list {
  margin-top: 63px;
  margin-bottom: 63px;
}
/* line 549, ../sass/style.scss */
.price_list .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: left;
  margin-top: 0;
}
/* line 558, ../sass/style.scss */
.price_list .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
  margin-left: 0;
}
/* line 565, ../sass/style.scss */
.price_list .priceList {
  overflow: hidden;
  max-width: 555px;
  margin: 0 auto;
}
/* line 569, ../sass/style.scss */
.price_list .priceList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 579, ../sass/style.scss */
.price_list .priceList .register_button {
  margin-top: 42px;
  float: right;
  display: block;
}
/* line 585, ../sass/style.scss */
.price_list .tablet-res {
  display: none;
}
/* line 588, ../sass/style.scss */
.price_list .price {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  color: #9d9d9d;
  max-width: 555px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}
/* line 602, ../sass/style.scss */
.price_list .price .col_name {
  margin-bottom: 29px;
  padding-left: 19px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}
/* line 607, ../sass/style.scss */
.price_list .price .col_name span {
  color: #3e3e3e;
}
/* line 611, ../sass/style.scss */
.price_list .price .col_price {
  margin-left: 312px;
  margin-top: -69px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: block;
}
/* line 617, ../sass/style.scss */
.price_list .price .col_price span {
  color: #3e3e3e;
}
/* line 620, ../sass/style.scss */
.price_list .price .col_price span span.stick {
  margin-left: -27px;
  padding-right: 10px;
}
/* line 626, ../sass/style.scss */
.price_list .price .button {
  margin-left: 314px;
}

/* line 632, ../sass/style.scss */
.photo_gallery {
  margin-top: 61px;
  padding-bottom: 481px;
}
/* line 635, ../sass/style.scss */
.photo_gallery .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  text-align: center;
}
/* line 644, ../sass/style.scss */
.photo_gallery .line {
  width: 66px;
  height: 2px;
  border-bottom: 2px solid  #932724;
  margin: 0 auto;
  margin-top: 14px;
}
/* line 651, ../sass/style.scss */
.photo_gallery .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  text-align: center;
  color: #9d9d9d;
  margin-top: 24px;
  margin-bottom: 20px;
}
/* line 661, ../sass/style.scss */
.photo_gallery .slider_bottom {
  margin-top: 66px;
  border-radius: 2px;
  position: relative;
  margin: 0 -15px;
}
/* line 666, ../sass/style.scss */
.photo_gallery .slider_bottom .item {
  opacity: 0.46;
  background-color: #eed2be;
  margin: 0 15px;
}
/* line 670, ../sass/style.scss */
.photo_gallery .slider_bottom .item img {
  width: 100%;
}
/* line 673, ../sass/style.scss */
.photo_gallery .slider_bottom .item:hover {
  opacity: 1;
  cursor: url("../images/cursor_arrow.png"), auto;
}
/* line 678, ../sass/style.scss */
.photo_gallery .slider_bottom img {
  border-radius: 2px;
}
/* line 681, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-prev {
  position: absolute;
  right: 44px;
  bottom: 0;
  z-index: 10;
}
/* line 687, ../sass/style.scss */
.photo_gallery .slider_bottom .slick-next {
  position: absolute;
  right: 13px;
  bottom: 0;
}

/* line 695, ../sass/style.scss */
.register_form {
  position: relative;
  max-width: 750px;
  margin: -385px auto 0;
  border-radius: 2px;
  background-color: #fffffd;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  border: solid 1px #932724;
  overflow: hidden;
}
/* line 704, ../sass/style.scss */
.register_form .wpcf7-form-control-wrap {
  position: static;
}
/* line 707, ../sass/style.scss */
.register_form .left {
  width: 341px;
  float: left;
  margin-right: 48px;
}
/* line 711, ../sass/style.scss */
.register_form .left .title {
  font-family: CormorantBold;
  font-size: 30px;
  font-weight: 700;
  color: #932724;
  margin-left: 27px;
  margin-top: 35px;
  z-index: 2;
}
/* line 720, ../sass/style.scss */
.register_form .left img {
  float: left;
  width: 286px;
  z-index: 1;
  margin-top: -70px;
}
/* line 727, ../sass/style.scss */
.register_form .wrap {
  margin-top: 32px;
  height: 37px;
  display: block;
  margin-bottom: 5px;
}
/* line 732, ../sass/style.scss */
.register_form .wrap label {
  display: block;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
}
/* line 740, ../sass/style.scss */
.register_form .wrap label span.star {
  font-size: 10px;
  line-height: 1.7;
  color: #932724;
}
/* line 746, ../sass/style.scss */
.register_form .wrap input[type="text"] {
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  width: 327px;
  background-color: transparent;
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 754, ../sass/style.scss */
.register_form .wrap input[type="submit"] {
  width: 127px;
  height: 45px;
  border: 0;
  border-radius: 2px;
  background-color: #932724;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  float: right;
  margin-right: 28px;
}
/* line 768, ../sass/style.scss */
.register_form .wrap select {
  width: 320px;
  background-color: #fff;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #9d9d9d;
  border: 0;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
}

/* line 783, ../sass/style.scss */
.address {
  margin-top: 130px;
}
/* line 785, ../sass/style.scss */
.address .map {
  max-height: 420px;
  max-width: 555px;
}
/* line 788, ../sass/style.scss */
.address .map #map {
  width: 100%;
}
/* line 791, ../sass/style.scss */
.address .map .gm-style-iw * {
  display: block;
  width: 100%;
}
/* line 795, ../sass/style.scss */
.address .map .gm-style-iw h4, .address .map .gm-style-iw p {
  margin: 0;
  padding: 0;
}
/* line 799, ../sass/style.scss */
.address .map .gm-style-iw a {
  color: #4272db;
}
/* line 804, ../sass/style.scss */
.address .title {
  font-family: CormorantSemiBold;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #3e3e3e;
}
/* line 811, ../sass/style.scss */
.address .line {
  width: 66px;
  height: 2px;
  border-bottom: solid 2px #932724;
  margin-top: 16px;
}
/* line 817, ../sass/style.scss */
.address .addressList {
  max-width: 555px;
  margin: 0 auto;
}
/* line 820, ../sass/style.scss */
.address .addressList .text {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
  margin-left: 94px;
  margin-top: -9px;
}
/* line 829, ../sass/style.scss */
.address .addressList .register_button {
  margin-top: 42px;
  float: right;
}
/* line 834, ../sass/style.scss */
.address .addressList .text p {
  margin-bottom: 35px;
}
/* line 836, ../sass/style.scss */
.address .addressList .text p:last-child {
  margin-bottom: 15px;
}
/* line 841, ../sass/style.scss */
.address .addressList img {
  margin-right: 18px;
}
/* line 845, ../sass/style.scss */
.address .map {
  max-width: 555px;
  margin: 0 auto;
}

/* line 850, ../sass/style.scss */
footer {
  height: 75px;
  background-color: #3e3e3e;
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  margin-right: -30px;
}
/* line 857, ../sass/style.scss */
footer .name_site {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  padding-top: 12px;
}
/* line 866, ../sass/style.scss */
footer .copy {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  text-align: center;
  margin-top: 8px;
}

@media only screen and (max-width: 1170px) {
  /* line 881, ../sass/style.scss */
  .header .white_line {
    height: 46px !important;
  }
  /* line 884, ../sass/style.scss */
  .header .site-branding {
    margin-top: 1px;
  }
  /* line 887, ../sass/style.scss */
  .header .menu-toggle {
    display: block !important;
  }
  /* line 890, ../sass/style.scss */
  .header nav ul {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  /* line 900, ../sass/style.scss */
  .photo_gallery {
    margin-bottom: 60px;
  }

  /* line 903, ../sass/style.scss */
  .desc-res {
    display: none !important;
  }

  /* line 906, ../sass/style.scss */
  .tablet-res {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 913, ../sass/style.scss */
  .top_content .logo {
    margin-top: 162px;
  }
  /* line 916, ../sass/style.scss */
  .top_content .site-description {
    font-weight: 400;
    color: #932724;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 227px;
    font-size: 36px;
    line-height: 1.53;
  }

  /* line 927, ../sass/style.scss */
  .slider_top {
    margin: -135px auto 0;
  }

  /* line 930, ../sass/style.scss */
  .about_advantages {
    margin-top: 74px;
  }
  /* line 933, ../sass/style.scss */
  .about_advantages .about {
    max-width: 555px;
    margin: 0 auto;
  }
  /* line 937, ../sass/style.scss */
  .about_advantages .advantages {
    max-width: 555px;
    margin: 31px auto 0;
  }

  /* line 942, ../sass/style.scss */
  .treatment {
    margin-top: 90px;
  }
  /* line 944, ../sass/style.scss */
  .treatment .register_button {
    margin: 9px auto 0;
  }

  /* line 948, ../sass/style.scss */
  .price_list {
    margin-top: 111px;
  }
  /* line 950, ../sass/style.scss */
  .price_list .price {
    margin-top: 62px;
    margin-bottom: 71px;
  }
  /* line 954, ../sass/style.scss */
  .price_list .tablet-res {
    margin: 62px auto 112px;
  }

  /* line 959, ../sass/style.scss */
  .slider_bottom .slick-center {
    opacity: 1 !important;
  }

  /* line 963, ../sass/style.scss */
  .register_form {
    margin-top: 85px;
  }

  /* line 966, ../sass/style.scss */
  .address {
    margin-top: 152px;
  }
  /* line 968, ../sass/style.scss */
  .address .map {
    margin-top: 49px;
  }

  /* line 972, ../sass/style.scss */
  .register_form {
    margin-top: -8px;
    padding-bottom: 20px;
    padding-top: 28px;
  }
  /* line 976, ../sass/style.scss */
  .register_form .left {
    width: auto;
    float: none;
    margin: 0;
  }
  /* line 980, ../sass/style.scss */
  .register_form .left .title {
    font-family: CormorantBold;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #932724;
    margin: 0;
  }
  /* line 988, ../sass/style.scss */
  .register_form .left img {
    display: none;
  }
  /* line 992, ../sass/style.scss */
  .register_form .wrap {
    padding-left: 18px;
    padding-right: 18px;
  }
  /* line 995, ../sass/style.scss */
  .register_form .wrap input[type="text"] {
    width: 100%;
  }
  /* line 999, ../sass/style.scss */
  .register_form .wrap select {
    width: 100%;
  }
  /* line 1002, ../sass/style.scss */
  .register_form .wrap input[type="submit"] {
    float: none !important;
    margin: 0 auto !important;
    padding: 0 !important;
    display: block;
  }
}
@media only screen and (max-width: 539px) {
  /* line 1014, ../sass/style.scss */
  html .register_button {
    max-width: 266px;
    height: 45px;
    margin: 0 auto;
    float: none;
  }

  /* line 1021, ../sass/style.scss */
  .site-branding img {
    max-width: 215px;
  }

  /* line 1024, ../sass/style.scss */
  .menu-toggle {
    margin-top: 10px !important;
  }

  /* line 1027, ../sass/style.scss */
  .top_content {
    height: 308px;
    background-position: top;
  }
  /* line 1030, ../sass/style.scss */
  .top_content .logo {
    margin-top: 124px;
  }
  /* line 1033, ../sass/style.scss */
  .top_content .site-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  /* line 1039, ../sass/style.scss */
  .slider_top {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: none;
    border-radius: 0;
  }
  /* line 1045, ../sass/style.scss */
  .slider_top .item {
    margin: 0 8px;
    border-radius: 0;
  }

  /* line 1052, ../sass/style.scss */
  .about_advantages .about .title {
    text-align: center;
  }
  /* line 1055, ../sass/style.scss */
  .about_advantages .about .line {
    margin: 16px auto 0;
  }
  /* line 1058, ../sass/style.scss */
  .about_advantages .about .text {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 1064, ../sass/style.scss */
  .about_advantages .advantages .title {
    text-align: center;
  }
  /* line 1067, ../sass/style.scss */
  .about_advantages .advantages .line {
    margin: 16px auto 0;
  }
  /* line 1071, ../sass/style.scss */
  .about_advantages .advantages .text {
    margin-left: 0;
    margin-top: 37px;
  }
  /* line 1074, ../sass/style.scss */
  .about_advantages .advantages .text ul {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 1077, ../sass/style.scss */
  .about_advantages .advantages .text ul li {
    margin-bottom: 71px;
  }
  /* line 1080, ../sass/style.scss */
  .about_advantages .advantages .text ul li .img img {
    margin-left: 0;
    width: 67px;
    height: 67px;
  }
  /* line 1086, ../sass/style.scss */
  .about_advantages .advantages .text ul li .words {
    margin-left: 90px;
    font-size: 16px;
    padding-top: 0px;
  }

  /* line 1097, ../sass/style.scss */
  .treatment {
    margin-top: 44px;
  }
  /* line 1100, ../sass/style.scss */
  .treatment .items .item {
    width: 250px;
    height: 176px;
    background-color: #fffffd;
    box-shadow: 0 0 8px 2px rgba(155, 155, 155, 0.2);
    padding: 0;
    margin: 6px;
    padding-top: 10px;
  }
  /* line 1108, ../sass/style.scss */
  .treatment .items .item img {
    max-width: 54px;
    margin-left: 14px;
  }
  /* line 1112, ../sass/style.scss */
  .treatment .items .item .title {
    font-family: OpenSansSemibold;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #3e3e3e;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 15px;
  }
  /* line 1122, ../sass/style.scss */
  .treatment .items .item .text {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.38;
    color: #9d9d9d;
    margin-left: 80px;
    margin-bottom: 18px;
  }
  /* line 1131, ../sass/style.scss */
  .treatment .items .item .button {
    width: 138px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #c6afa1;
    padding-left: 12px;
    margin-left: 80px;
  }
  /* line 1141, ../sass/style.scss */
  .treatment #slickCounter {
    font-family: OpenSansItalic;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.2px;
    text-align: center;
    color: #9d9d9d;
    margin-top: 27px;
    margin-bottom: 25px;
  }

  /* line 1155, ../sass/style.scss */
  .price_list .priceList .title {
    text-align: center;
  }
  /* line 1158, ../sass/style.scss */
  .price_list .priceList .line {
    margin: 16px auto 0;
  }
  /* line 1161, ../sass/style.scss */
  .price_list .priceList .text {
    margin-left: 0;
    margin-top: 41px;
  }
  /* line 1166, ../sass/style.scss */
  .price_list .price {
    overflow: hidden;
  }
  /* line 1168, ../sass/style.scss */
  .price_list .price .head_price {
    display: none;
  }
  /* line 1171, ../sass/style.scss */
  .price_list .price .head_name {
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    color: #3e3e3e !important;
    margin-bottom: 29px !important;
  }
  /* line 1178, ../sass/style.scss */
  .price_list .price .col_name {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    color: #9d9d9d;
    margin-bottom: 14px;
  }
  /* line 1189, ../sass/style.scss */
  .price_list .price .col_price {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  /* line 1194, ../sass/style.scss */
  .price_list .price .button {
    float: right;
    margin: 0;
    margin-right: 30px;
  }

  /* line 1201, ../sass/style.scss */
  .photo_gallery {
    display: none;
  }

  /* line 1206, ../sass/style.scss */
  .address .addressList .title {
    text-align: center;
    margin-bottom: 24px;
  }
  /* line 1210, ../sass/style.scss */
  .address .addressList .line {
    margin: 0 auto 39px;
  }
  /* line 1213, ../sass/style.scss */
  .address .addressList .text {
    margin: 0 auto;
    max-width: 266px;
  }
  /* line 1218, ../sass/style.scss */
  .address .map {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1226, ../sass/style.scss */
  .top_content {
    height: 355px;
    background: none;
  }
  /* line 1229, ../sass/style.scss */
  .top_content .site-description {
    margin-top: 10px;
  }
}
/* line 1236, ../sass/style.scss */
.white_line {
  height: 68px;
  background-color: #fffffd;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 4px;
}

/* line 1245, ../sass/style.scss */
header.service .go-main a {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.78;
  color: #3e3e3e;
  text-decoration: none;
  line-height: 3.5;
}
/* line 1253, ../sass/style.scss */
header.service .call_wrap {
  float: right;
}
/* line 1255, ../sass/style.scss */
header.service .call_wrap .phone {
  line-height: 14px;
}
/* line 1257, ../sass/style.scss */
header.service .call_wrap .phone img {
  float: left;
  margin-top: 5px;
}
/* line 1261, ../sass/style.scss */
header.service .call_wrap .phone p {
  margin: 0;
  margin-left: 34px;
  width: 231px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #932724;
}
/* line 1271, ../sass/style.scss */
header.service .call_wrap .time {
  float: left;
  padding-bottom: 20px;
}
/* line 1272, ../sass/style.scss */
header.service .call_wrap .time img {
  float: left;
  margin-top: 5px;
}
/* line 1278, ../sass/style.scss */
header.service .call_wrap .time p {
  margin: 0;
  margin-left: 34px;
  width: 306px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #932724;
}

/* line 1293, ../sass/style.scss */
.prices .price_list {
  margin-top: 22px;
}
/* line 1295, ../sass/style.scss */
.prices .price_list .register_button {
  float: right;
  margin-top: -66px;
}
/* line 1299, ../sass/style.scss */
.prices .price_list .price {
  min-width: 748px;
}
/* line 1301, ../sass/style.scss */
.prices .price_list .price .col_price {
  margin-left: 472px;
}
/* line 1307, ../sass/style.scss */
.prices .price_list .price div:last-child {
  margin-bottom: 0;
}
/* line 1313, ../sass/style.scss */
.prices .register_form {
  border: 0;
  margin-bottom: 95px;
}

@media only screen and (max-width: 768px) {
  /* line 1321, ../sass/style.scss */
  .prices .price_list {
    margin-top: 22px;
  }
  /* line 1323, ../sass/style.scss */
  .prices .price_list .register_button {
    float: right;
    margin-top: -66px;
  }
  /* line 1327, ../sass/style.scss */
  .prices .price_list .price {
    min-width: 640px;
  }
  /* line 1329, ../sass/style.scss */
  .prices .price_list .price .col_price {
    margin-left: 389px;
  }
  /* line 1335, ../sass/style.scss */
  .prices .price_list .price div:last-child {
    margin-bottom: 0;
  }
  /* line 1341, ../sass/style.scss */
  .prices .register_form {
    border: 0;
    margin-bottom: 95px;
  }
}
@media screen and (max-width: 712px) {
  /* line 1350, ../sass/style.scss */
  .prices .price_list .title {
    text-align: center;
    margin-top: 103px;
  }

  /* line 1354, ../sass/style.scss */
  .prices .price_list .line {
    padding-top: 24px;
    margin: 0 auto 38px;
  }

  /* line 1358, ../sass/style.scss */
  .prices .price_list .register_button {
    float: none;
    margin: -187px auto 151px;
  }
}
@media only screen and (max-width: 539px) {
  /* line 1367, ../sass/style.scss */
  .prices .price_list .price {
    box-shadow: none;
  }
  /* line 1369, ../sass/style.scss */
  .prices .price_list .price .col_price {
    margin: 0;
    margin-left: 28px;
    padding-bottom: 20px;
  }
  /* line 1374, ../sass/style.scss */
  .prices .price_list .price .col_name {
    margin-left: 28px;
    margin-bottom: 10px;
  }
}
/* line 1390, ../sass/style.scss */
.second {
  position: relative;
}
/* line 1393, ../sass/style.scss */
.second .cross {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 1398, ../sass/style.scss */
.second .cross img {
  width: 31px;
  margin: 18px;
}
/* line 1403, ../sass/style.scss */
.second .tablet-menu-wrap {
  display: none;
}
/* line 1405, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu {
  padding-top: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 1412, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu a {
  text-decoration: none;
}
/* line 1415, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu .item {
  text-align: center;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 1420, ../sass/style.scss */
.second .tablet-menu-wrap .tablet-menu .item .title {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
}
/* line 1431, ../sass/style.scss */
.second .mobil-menu-wrap {
  display: none;
}
/* line 1433, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu {
  padding-top: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
}
/* line 1442, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul {
  list-style-type: none;
  padding-left: 25px;
}
/* line 1446, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul li.current-menu-item a {
  color: #932724;
}
/* line 1449, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul li.current-menu-item {
  border-bottom: 1px solid #932724;
  width: 92%;
}
/* line 1453, ../sass/style.scss */
.second .mobil-menu-wrap .mobil-menu ul li a {
  text-decoration: none;
  font-family: OpenSansSemibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 4;
  color: #3e3e3e;
}

/* line 1468, ../sass/style.scss */
.service .menu {
  margin-top: 34px;
}
/* line 1470, ../sass/style.scss */
.service .menu .button-menu {
  display: none;
  margin-top: 3px;
}
/* line 1474, ../sass/style.scss */
.service .menu ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 1477, ../sass/style.scss */
.service .menu ul li {
  border-bottom: 1px solid #f2f2f2;
  width: 191.3px;
}
/* line 1480, ../sass/style.scss */
.service .menu ul li.current-menu-item a {
  color: #932724;
}
/* line 1483, ../sass/style.scss */
.service .menu ul li:last-child {
  border: 0;
}
/* line 1486, ../sass/style.scss */
.service .menu ul li a {
  font-family: OpenSansSemibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 3.13;
  color: #3e3e3e;
  text-decoration: none;
}
/* line 1498, ../sass/style.scss */
.service .head {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 1503, ../sass/style.scss */
.service .pic img {
  width: 125px;
}
/* line 1507, ../sass/style.scss */
.service .title {
  font-family: OpenSansSemibold;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1;
  color: #3e3e3e;
}
/* line 1514, ../sass/style.scss */
.service .register_button {
  float: right;
  margin-right: -53px;
  margin-top: -5px;
}
/* line 1519, ../sass/style.scss */
.service .text {
  padding: 15px;
}
/* line 1521, ../sass/style.scss */
.service .text strong {
  font-family: OpenSansSemibold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  color: #3e3e3e;
  margin-top: 40px;
}
/* line 1529, ../sass/style.scss */
.service .text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #9d9d9d;
}
/* line 1536, ../sass/style.scss */
.service .register_form {
  min-width: 716px;
  margin-bottom: 95px;
  margin-top: 30px;
  float: right;
}

@media only screen and (max-width: 991px) {
  /* line 1546, ../sass/style.scss */
  .service .title {
    margin-top: 88px;
  }
  /* line 1549, ../sass/style.scss */
  .service .pic {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1557, ../sass/style.scss */
  .white_line {
    height: 46px;
  }

  /* line 1562, ../sass/style.scss */
  header.service .go-main a {
    line-height: 2;
  }
  /* line 1564, ../sass/style.scss */
  header.service .go-main a img {
    margin-top: -5px;
  }
  /* line 1569, ../sass/style.scss */
  header.service .call_wrap {
    display: none;
  }
  /* line 1572, ../sass/style.scss */
  header.service .m_call_wrap {
    display: block;
    width: 64px;
    height: 45px;
    border-radius: 2px;
    background-color: #932724;
    z-index: 40;
    float: right;
    margin-top: -4px;
    margin-right: -15px;
  }
  /* line 1582, ../sass/style.scss */
  header.service .m_call_wrap a {
    display: block;
    padding-bottom: 10px;
  }
  /* line 1586, ../sass/style.scss */
  header.service .m_call_wrap img {
    margin-top: 12px;
    margin-left: 10px;
  }

  /* line 1593, ../sass/style.scss */
  .service .pic {
    display: none;
  }
  /* line 1596, ../sass/style.scss */
  .service .title {
    margin-top: 90px;
    margin-left: -136px;
  }
  /* line 1600, ../sass/style.scss */
  .service .text {
    margin-left: -43px;
  }
  /* line 1603, ../sass/style.scss */
  .service .register_button {
    float: none;
    margin-right: 0;
    margin-left: -125px;
  }
  /* line 1608, ../sass/style.scss */
  .service .head {
    margin-top: 40px;
    margin-bottom: 0;
  }
  /* line 1614, ../sass/style.scss */
  .service .menu ul {
    display: none;
  }
  /* line 1617, ../sass/style.scss */
  .service .menu .button-menu {
    display: block;
  }
}
@media only screen and (max-width: 539px) {
  /* line 1627, ../sass/style.scss */
  .service .title {
    display: none;
  }
  /* line 1630, ../sass/style.scss */
  .service .register_button {
    margin-left: -64px;
    margin-top: -7px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1640, ../sass/style.scss */
  header.service .go-main a {
    line-height: 2;
  }
  /* line 1642, ../sass/style.scss */
  header.service .go-main a img {
    height: 14px;
    margin-top: -3px;
    margin-right: 7px;
  }

  /* line 1652, ../sass/style.scss */
  .service .register_button {
    width: 237px;
  }

  /* line 1657, ../sass/style.scss */
  .site .max_call_wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 640px;
    border-radius: 2px;
    background-color: rgba(147, 39, 36, 0.9);
    z-index: 1000000;
  }
  /* line 1666, ../sass/style.scss */
  .site .max_call_wrap .close-button-white {
    display: block;
    position: relative;
    top: 17px;
    left: 36px;
  }
  /* line 1671, ../sass/style.scss */
  .site .max_call_wrap .close-button-white img {
    width: 21px;
  }
  /* line 1675, ../sass/style.scss */
  .site .max_call_wrap .phone {
    position: absolute;
    top: 388px;
    left: 30px;
    margin-left: 19px;
  }
  /* line 1681, ../sass/style.scss */
  .site .max_call_wrap .phone a img {
    width: 30px;
  }
  /* line 1684, ../sass/style.scss */
  .site .max_call_wrap .phone a p {
    font-size: 24px;
  }
  /* line 1689, ../sass/style.scss */
  .site .max_call_wrap .time {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 172px;
  }
  /* line 1694, ../sass/style.scss */
  .site .max_call_wrap .time img {
    width: 30px;
  }
  /* line 1697, ../sass/style.scss */
  .site .max_call_wrap .time p {
    font-size: 24px;
  }
  /* line 1701, ../sass/style.scss */
  .site .max_call_wrap .call {
    display: block;
    position: absolute;
    left: 38px;
    bottom: 69px;
    background-color: #fff;
    height: 46px;
    width: 267px;
  }
  /* line 1710, ../sass/style.scss */
  .site .max_call_wrap .call a {
    color: #932724;
    text-decoration: none;
    font-family: OpenSansSemibold;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    display: block;
    line-height: 44px;
  }
}
