@mixin respond-to($media) {

  @if $media == collapse_menu {
    @media only screen and (max-width: 1170px) {
      @content;
    }
  }
  @if $media == end_col {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }
  @if $media == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $media == mobile {
    @media only screen and (max-width: 539px) {
      @content;
    }
  }
  @if $media == mobile320 {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
}
  ////////////////////////////////////////////////////////////////////
html {
  a:active, a:focus { outline: none; }

  input, textarea {outline:none;}
  input:active, textarea:active {outline:none;}
  :focus {outline:none;}
  textarea {resize:none;}
  textarea {resize:vertical;}
  textarea {resize:horizontal;}
  button:active, button:focus {
    outline: none !important;
  }
  button::-moz-focus-inner {
    border: 0 !important;
  }

  overflow-x:  hidden;

  .register_button {
    width: 460px;
    height: 45px;
    border-radius: 2px;
    background-color: #932724;

    a {
      font-family: OpenSansSemibold;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      color: #fafafa;
      display: block;
      line-height: 43px;
      text-decoration: none;
      &:hover {
        cursor: url("../images/cursor_arrow.png"), auto ;
      }
    }
  }
  .button {
    width: 138px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #c6afa1;
    //padding-top: 5px;
    padding-left: 16px;
    margin-left: 93px;
    a {
      font-family: OpenSansItalic;
      font-size: 14px;
      font-weight: 400;
      font-style: italic;
      color: #c6afa1;
      text-decoration: none;
      line-height: 27px;
      display: block;
      position: relative;
      span {
        font-family: OpenSans;
        font-style: normal;
        border-left: 1px solid;
        margin-left: 8px;
        padding-left: 12px;
        height: 24px;
        line-height: 25px;
        position: absolute;
        margin-top: 2px;
      }
    }
  }

  .m_call_wrap {
    display: none;
  }

  //////////map/////////
  #map {
    height:420px;
    width:555px;
  }
  .gm-style-iw * {
    display: block;
    width: 100%;
  }
  .gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
  }
  .gm-style-iw a {
    color: #4272db;
  }
  //////////map/////////
}
body {
    font-family: OpenSans;
  .about_advantages_wrap {
    background-color: #fdfaf6;
    min-height: 903px;
  }
  .treatment_wrap {
    background-color: #fffffd;
    height: 1151px;
  }
  .price_list_wrap {
    background-color: #fcf8f4;
  }
  .photo_gallery_wrap {
    background-color: #fffffd;
  }
  .register_form_wrap {
    //background-color: rosybrown;
  }
  .address_wrap {
    background-color: #fafafa;
    margin-top: -184px;
    padding-top: 200px;
    height: 843px;
  }
}
@media screen and (max-width: 600px){
  #wpadminbar {
    position: fixed;
  }
}

//////////////////////
.site {
  //position: relative;
  .min_call_wrap {
    display: block;
    position: fixed;
    top: 100px;
    right: 0;
    width: 64px;
    height: 45px;
    border-radius: 2px;
    background-color: #932724;
    z-index: 40;
    a {
      display: block;
      padding-bottom: 10px;
    }
    img {
      margin-top: 12px;
      margin-left: 10px;
    }
  }
  .max_call_wrap {
    display: none;
    position: fixed;
    top: 100px;
    right: 0;
    max-width: 402px;
    min-width: 320px;
    height: 160px;
    border-radius: 2px;
    background-color: rgba(147, 39, 36, .9);
    z-index: 1000000;
    .close-button-white {
      display: none;
    }
    .call {
      display: none;
    }
    .phone {
      margin-top: 30px;
      margin-left: 25px;
      a {
        text-decoration: none;
        img {
          float: left;
          margin-top: 5px;
        }
        p {
          font-family: OpenSans;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.67;
          color: #ffffff;
          padding-left: 34px;
        }
      }
    }
    .time {
      margin-top: 19px;
      margin-left: 25px;
      img {
        float: left;
        margin-top: 5px;
        padding-bottom: 30px;
      }
      p {
        font-family: OpenSans;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.67;
        color: #ffffff;
        padding-left: 34px;
      }
    }
  }
}

.hamburger_menu {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -15px;
  width: 105%;
  height: 640px;
  opacity: 0.9;
  background-color: #ffffff;
  //margin-left: -10px;
  //margin-right: -10px;
  z-index: 20;
  div.close_button {
    position: absolute;
    top: 11px;
    left: 30px;
    z-index: 30;
  }
  ul {
    position: absolute;
    top: 60px;
    left: 30px;
    list-style-type: none;
    margin-top: 23px;
    padding: 0;
    overflow: hidden;
    z-index: 30;
  }
  li {
    margin-bottom: 52px;
    a {
      font-family: CormorantBold;
      font-size: 24px;
      font-weight: 700;
      color: #932724;
      z-index: 30;
      text-decoration: none;
    }
  }
  .line-top {
    position: absolute;
    top: 135px;
    left: 25px;
    width: 92.5%;
    z-index: 30;
    border-bottom: 3px solid #932724;
  }
  .line-bottom {
    position: absolute;
    top: 579px;
    left: 25px;
    width: 92.5%;
    z-index: 30;
    border-bottom: 3px solid #932724;
  }
}

.site {
  //position: relative;
  //overflow: hidden;
}
.header {

  .white_line {
    height: 68px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
    position: fixed;
    //top: 0;
    //left: 0;
    z-index: 300;
    width: 100%;
  }
  .site-branding {
    float: left;
    margin-top: 13px;
  }
  .menu-toggle {
    display: none;
    float: right;
    margin-top: 8px;
    border: 0;
    background-color: #fff;
  }
  header {

    nav {
      float: right;
      ul {
        list-style-type: none;
        margin-top: 16px;
        padding: 0;
      }
      li {
        float: left;
        &.active {
          border-bottom: 2px solid #932724;
        }
        &:hover {
          border-bottom: 2px solid #932724;
        }
        a {
          display: block;
          font-family: CormorantBold;
          font-size: 19px;
          font-weight: 700;
          color: #932724;
          margin: 0 25px;
          text-decoration: none;
          padding-bottom: 19px;

/*          &.active {
            border-bottom: 2px solid #932724;
          }*/
        }
      }
    }
  }
}

.top_content {
  position:relative ;
  background: url(../images/city_house.jpg) no-repeat center;
  background-size: cover;
  width: 80vw;
  margin: 0 auto;
  background-attachment: fixed;
  .grad_left {
    height: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fdfaf6);
    //width: 642px;

  }
  .grad_right {
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fdfaf6);
    //width: 642px;
  }
  .logo {
    margin-top: 277px;
    text-align: center;
  }
  .site-description {
    font-family: OpenSans;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.38;
    color: #932724;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 227px;
  }
}

.slider_top {
  position: relative;
  max-width: 945px;
  max-height: 379px;
  margin: -199px auto 0;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  overflow: hidden;
  .item {
    img {
      width: 100%;
    }
  }
  img {
    border-radius: 5px;
  }
  .slick-prev {
    position: absolute;
    right: 31px;
    bottom: -1px;
    z-index: 10;
  }
  .slick-next {
    position: absolute;
    right: 0;
    bottom: -1px;
  }
}

.about_advantages {
  margin-top: 130px;
  .title {
    font-family: CormorantSemiBold;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #3e3e3e;
  }
  .line {
    width: 66px;
    height: 2px;
    border-bottom: solid 2px #932724;
    margin-top: 16px;
  }
  .about {
    overflow: hidden;
    .text {
      font-family: OpenSans;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.38;
      color: #9d9d9d;
      margin-left: 94px;
      margin-top: -9px;
    }
    .register_button {
      margin-top: 42px;
      float: right;
    }
  }
  .advantages {
    ul {
      margin-left: 60px;
      list-style-type: none;
      li {
        margin-bottom: 42px;
        .img {
          float: left;
          img {
            width: 67px;
            height: 67px;
          }
        }
        .words {
          font-family: OpenSansSemibold;
          font-size: 18px;
          font-weight: 600;
          //line-height: 3.78;
          color: #3e3e3e;
          margin-left: 89px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &:last-child .words {
          //line-height: 1.78;
        }
      }
    }

  }
}

.treatment {
  margin-top: 52px;
  .title  {
    font-family: CormorantSemiBold;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #3e3e3e;
    text-align: center;
    //margin-top: 36px;
  }
  .line {
    width: 66px;
    height: 2px;
    border-bottom: 2px solid  #932724;
    margin: 0 auto;
    margin-top: 14px;
  }
  .text {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: #9d9d9d;
    margin-top: 25px;
    text-align: left;
  }
  .items {
    margin-top: 38px;
    .item {
      margin: 0 auto;
      max-width: 360px;
      overflow: hidden;
      padding-top: 48px;
      height: 235px;
      img {
        float: left;
      }
      .title {
        font-family: OpenSansSemibold;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.78;
        color: #3e3e3e;
        text-align: left;
        margin: 0;
        margin-left: 93px;
        margin-bottom: 15px;
      }
      .text {
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
        color: #9d9d9d;
        margin-left: 93px;
        margin-bottom: 18px;
      }
    }
  }
  .register_button {
    margin: 31px auto 0;
  }
}

.price_list {
  margin-top: 63px;
  margin-bottom: 63px;
  .title {
    font-family: CormorantSemiBold;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #3e3e3e;
    text-align: left;
    margin-top: 0;
  }
  .line {
    width: 66px;
    height: 2px;
    border-bottom: solid 2px #932724;
    margin-top: 16px;
    margin-left: 0;
  }
  .priceList {
    overflow: hidden;
    max-width: 555px;
    margin: 0 auto;
    .text {
      font-family: OpenSans;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.38;
      color: #9d9d9d;
      margin-left: 94px;
      margin-top: -9px;

    }
    .register_button {
      margin-top: 42px;
      float: right;
      display: block;
    }
  }
  .tablet-res {
         display: none;
       }
  .price {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
    color: #9d9d9d;
    max-width: 555px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;

    .col_name {
      margin-bottom: 29px;
      padding-left: 19px;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 15px;
      span {
        color: #3e3e3e;
      }
    }
    .col_price {
      margin-left: 312px;
      margin-top: -69px;
      padding-bottom: 16px;
      margin-bottom: 16px;
      display: block;
      span {
        color: #3e3e3e;

        span.stick {
          margin-left: -27px;
          padding-right: 10px;
        }
      }
    }
    .button {
      margin-left: 314px;
    }
  }
}

.photo_gallery {
  margin-top: 61px;
  padding-bottom: 481px;
  .title  {
    font-family: CormorantSemiBold;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #3e3e3e;
    text-align: center;

  }
  .line {
    width: 66px;
    height: 2px;
    border-bottom: 2px solid  #932724;
    margin: 0 auto;
    margin-top: 14px;
  }
  .text {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    text-align: center;
    color: #9d9d9d;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .slider_bottom {
    margin-top: 66px;
    border-radius: 2px;
    position: relative;
    margin: 0 -15px;
    .item {
      opacity: 0.46;
      background-color: #eed2be;
      margin: 0 15px;
      img {
        width: 100%;
      }
      &:hover {
        opacity: 1;
        cursor: url("../images/cursor_arrow.png"), auto ;
      }
    }
    img {
      border-radius: 2px;
    }
    .slick-prev {
      position: absolute;
      right: 44px;
      bottom: 0;
      z-index: 10;
    }
    .slick-next {
      position: absolute;
      right: 13px;
      bottom: 0;
    }
  }
}

.register_form {
  position: relative;
  max-width: 750px;
  margin: -385px auto 0;
  border-radius: 2px;
  background-color: #fffffd;
  box-shadow: 0 0 30px 10px rgba(155, 155, 155, 0.1);
  border: solid 1px #932724;
  overflow: hidden;
  .wpcf7-form-control-wrap {
    position: static;
  }
  .left {
    width: 341px;
    float: left;
    margin-right: 48px;
    .title  {
      font-family: CormorantBold;
      font-size: 30px;
      font-weight: 700;
      color: #932724;
      margin-left: 27px;
      margin-top: 35px;
      z-index: 2;
    }
    img {
      float: left;
      width: 286px;
      z-index: 1;
      margin-top: -70px;
    }
  }
  .wrap {
    margin-top: 32px;
    height: 37px;
    display: block;
    margin-bottom: 5px;
    label {
      display: block;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.21;
      color: #9d9d9d;
      //margin-bottom: -8px;
      span.star {
        font-size: 10px;
        line-height: 1.7;
        color: #932724;
      }
    }
    input[type="text"] {
      border: 0;
      border-bottom: 1px solid #f2f2f2;
      width: 327px;
      background-color: transparent;
      font-size: 14px;
      padding-bottom: 10px;
    }
    input[type="submit"] {
      width: 127px;
      height: 45px;
      border: 0;
      border-radius: 2px;
      background-color: #932724;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #fafafa;
      float: right;
      margin-right: 28px;
    }
    select {
      width: 320px;
      background-color: #fff;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.21;
      color: #9d9d9d;
      border: 0;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 10px;
    }
  }
}

.address {
  margin-top: 130px;
  .map  {
    max-height:420px;
    max-width:555px;
    #map {
      width: 100%;
    }
    .gm-style-iw * {
      display: block;
      width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
      margin: 0;
      padding: 0;
    }
    .gm-style-iw a {
      color: #4272db;
    }
  }

  .title {
    font-family: CormorantSemiBold;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #3e3e3e;
  }
  .line {
    width: 66px;
    height: 2px;
    border-bottom: solid 2px #932724;
    margin-top: 16px;
  }
  .addressList {
    max-width: 555px;
    margin: 0 auto;
    .text {
      font-family: OpenSans;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.38;
      color: #9d9d9d;
      margin-left: 94px;
      margin-top: -9px;
    }
    .register_button {
      margin-top: 42px;
      float: right;
    }
    .text {
      p {
        margin-bottom: 35px;
        &:last-child {
          margin-bottom: 15px;
        }
      }
    }
    img {
      margin-right: 18px;
    }
  }
  .map {
    max-width: 555px;
    margin: 0 auto;
  }
}
footer {
  height: 75px;
  background-color: #3e3e3e;
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  margin-right: -30px;
  .name_site {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
  }
  .copy {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #ffffff;
    text-align: center;
    margin-top: 8px;
  }
}
////////////////////////respond///////////////////////////////

@include respond-to(collapse_menu) {

  .header {
    .white_line {
      height: 46px !important;
    }
    .site-branding {
      margin-top: 1px;
    }
    .menu-toggle {
      display: block !important;
    }
    nav ul {
      display: none !important;
    }
  }


}

@include respond-to(end_col) {

  .photo_gallery {
    margin-bottom: 60px;
  }
  .desc-res{
    display: none !important;
  }
  .tablet-res {
    display: block !important;
  }
}

@include respond-to(tablet) {
  .top_content {
    .logo {
      margin-top: 162px;
    }
    .site-description {
      font-weight: 400;
      color: #932724;
      max-width: 880px;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 227px;
      font-size: 36px;
      line-height: 1.53;
    }
  }
  .slider_top {
    margin: -135px auto 0;
  }
  .about_advantages {
    margin-top: 74px;

    .about {
      max-width: 555px;
      margin: 0 auto;
    }
    .advantages {
      max-width: 555px;
      margin: 31px auto 0;
    }
  }
  .treatment {
    margin-top: 90px;
    .register_button {
      margin: 9px auto 0;
    }
  }
  .price_list {
    margin-top: 111px;
    .price {
      margin-top: 62px;
      margin-bottom: 71px;
    }
    .tablet-res {
      margin: 62px auto 112px;
    }
  }
  .slider_bottom {
    .slick-center {
      opacity: 1 !important;
    }
  }
  .register_form {
    margin-top: 85px;
  }
  .address {
    margin-top: 152px;
    .map  {
      margin-top: 49px;
    }
  }
  .register_form {      /////////////////////
    margin-top: -8px;
    padding-bottom: 20px;
    padding-top: 28px;
    .left {
      width: auto;
      float: none;
      margin: 0;
      .title {
        font-family: CormorantBold;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #932724;
        margin: 0;
      }
      img {
        display: none;
      }
    }
    .wrap {
      padding-left: 18px;
      padding-right: 18px;
      input[type="text"] {
        width: 100%;
        //max-width: 327px;
      }
      select {
        width: 100%;
      }
      input[type="submit"]{
        float: none !important;
        margin: 0 auto !important;
        padding: 0 !important;
        display: block;
      }
    }
  }
}

@include respond-to(mobile) {
  html {
    .register_button {
      max-width: 266px;
      height: 45px;
      margin: 0 auto;
      float: none;
    }
  }
  .site-branding img{
      max-width: 215px;
  }
  .menu-toggle {
    margin-top: 10px !important;
  }
  .top_content {
    height: 308px;
    background-position: top;
    .logo {
      margin-top: 124px;
    }
    .site-description {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.33;
    }
  }
  .slider_top {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: none;
    border-radius: 0;
    .item {
      margin: 0 8px;
      border-radius: 0;
    }
  }
  .about_advantages {
    .about {
      .title {
        text-align: center;
      }
      .line {
        margin: 16px auto 0;
      }
      .text {
        margin-left: 0;
        margin-top: 37px;
      }
    }
    .advantages {
      .title {
        text-align: center;
      }
      .line {
        margin: 16px auto 0;
      }

      .text {
        margin-left: 0;
        margin-top: 37px;
        ul{
          margin-left: 0;
          padding-left: 0;
          li{
            margin-bottom: 71px;
            .img {
              img {
                margin-left: 0;
                width: 67px;
                height: 67px;
              }
            }
            .words {
              margin-left: 90px;
              font-size: 16px;
              padding-top: 0px
            }
          }
        }

      }
    }
  }
  .treatment {
    margin-top: 44px;
    .items {
      .item {
        width: 250px;
        height: 176px;
        background-color: #fffffd;
        box-shadow: 0 0 8px 2px rgba(155, 155, 155, 0.2);
        padding: 0;
        margin: 6px;
        padding-top: 10px;
        img {
          max-width: 54px;
          margin-left: 14px;
        }
        .title {
          font-family: OpenSansSemibold;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          color: #3e3e3e;
          text-align: left;
          margin-left: 80px;
          margin-bottom: 15px;
        }
        .text {
          font-family: OpenSans;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.38;
          color: #9d9d9d;
          margin-left: 80px;
          margin-bottom: 18px;
        }
        .button {
          width: 138px;
          height: 30px;
          border-radius: 2px;
          border: solid 1px #c6afa1;
          padding-left: 12px;
          margin-left: 80px;
        }
      }
    }
    #slickCounter {
      font-family: OpenSansItalic;
      font-size: 15px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.2px;
      text-align: center;
      color: #9d9d9d;
      margin-top: 27px;
      margin-bottom: 25px;
    }
  }
  .price_list {
    .priceList {
      .title {
        text-align: center;
      }
      .line {
        margin: 16px auto 0;
      }
      .text {
        margin-left: 0;
        margin-top: 41px;
      }
    }
    .price {
      overflow: hidden;
      .head_price {
        display: none;
      }
      .head_name {
        font-family: OpenSansBold;
        font-size: 16px;
        font-weight: 700;
        color: #3e3e3e !important;
        margin-bottom: 29px !important;
      }
      .col_name {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: OpenSansBold;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.38;
        color: #9d9d9d;
        margin-bottom: 14px;
      }
      .col_price {
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
      }
      .button {
        float: right;
        margin: 0;
        margin-right: 30px;
      }
    }
  }
  .photo_gallery {
    display: none;
  }
  .address {
    .addressList {
      .title {
        text-align: center;
        margin-bottom: 24px;
      }
      .line {
        margin: 0 auto 39px;
      }
      .text {
        margin: 0 auto;
        max-width: 266px;
      }
    }
    .map {
      margin-left: -30px;
      margin-right: -30px;
    }
  }
}

@include respond-to(mobile320) {
  .top_content {
    height: 355px;
    background: none;
    .site-description {
      margin-top: 10px;
    }
  }
}

///////////////////////////////////////////////////// price /////////////////////////////////////////
.white_line {
  height: 68px;
  background-color: #fffffd;
  box-shadow: 0 2px 10px 0 rgba(155, 154, 155, 0.28);
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 4px;
}
header.service {
  .go-main a {
    font-size: 18px;
    font-weight: 600;
    line-height: 2.78;
    color: #3e3e3e;
    text-decoration: none;
    line-height: 3.5;
  }
  .call_wrap {
    float: right;
    .phone {
      line-height: 14px;
      img {
        float: left;
        margin-top: 5px;
      }
      p {
        margin: 0;
        margin-left: 34px;
        width: 231px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.67;
        color: #932724;
      }
    }
    .time {
      img {
        float: left;
        margin-top: 5px;
      }
      float: left;
      padding-bottom: 20px;
      p {
        margin: 0;
        margin-left: 34px;
        width: 306px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.67;
        color: #932724;
      }
    }
  }


}
.prices {
  .price_list {
    margin-top: 22px;
    .register_button {
      float: right;
      margin-top: -66px;
    }
    .price {
      min-width: 748px;
      .col_price {
        margin-left: 472px;
      }
      .col_name {

      }
      div:last-child {
        margin-bottom: 0;
      }
    }
  }

  .register_form {
    border: 0;
    margin-bottom: 95px;
  }
}

@include respond-to(tablet){
  .prices {
    .price_list {
      margin-top: 22px;
      .register_button {
        float: right;
        margin-top: -66px;
      }
      .price {
        min-width: 640px;
        .col_price {
          margin-left: 389px;
        }
        .col_name {

        }
        div:last-child {
          margin-bottom: 0;
        }
      }
    }

    .register_form {
      border: 0;
      margin-bottom: 95px;
    }
  }
}

@media screen and (max-width: 712px) {

  .prices .price_list .title {
    text-align: center;
    margin-top: 103px;
  }
  .prices  .price_list .line {
    padding-top: 24px;
    margin: 0 auto 38px;
  }
  .prices .price_list .register_button  {
    float: none;
    margin: -187px auto 151px;
  }
}

@include respond-to(mobile){
  .prices .price_list {

    .price {
      box-shadow:none;
      .col_price {
        margin: 0;
        margin-left: 28px;
        padding-bottom: 20px;
      }
      .col_name {
        margin-left: 28px;
        margin-bottom: 10px;
      }
    }
  }




}
@include respond-to(mobile320){

}
///////////////////////////////////////////////////// services /////////////////////////////////////////

.second {
  position: relative;

  .cross {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    img {
      width: 31px;
      margin: 18px;
    }
  }
  .tablet-menu-wrap {
    display: none;
    .tablet-menu {
      padding-top: 120px;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      a {
        text-decoration: none;
      }
      .item {
        text-align: center;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        .title {
          font-family: OpenSansSemibold;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.78;
          color: #3e3e3e;
        }
      }
    }
  }

  .mobil-menu-wrap {
    display: none;
    .mobil-menu {
      padding-top: 120px;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      ul {
        list-style-type: none;
        padding-left: 25px;
        li {
          &.current-menu-item a {
            color: #932724;
          }
          &.current-menu-item {
            border-bottom: 1px solid #932724;
            width: 92%;
          }
          a {
            text-decoration: none;
            font-family: OpenSansSemibold;
            font-size: 16px;
            font-weight: 600;
            line-height: 4;
            color: #3e3e3e;
          }
        }
      }
    }
  }
}

.service {
  .menu {
    margin-top: 34px;
    .button-menu {
      display: none;
      margin-top: 3px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        border-bottom: 1px solid #f2f2f2;
        width: 191.3px;
        &.current-menu-item a {
          color: #932724;
        }
        &:last-child {
          border: 0;
        }
        a {
          font-family: OpenSansSemibold;
          font-size: 16px;
          font-weight: 600;
          line-height: 3.13;
          color: #3e3e3e;
          text-decoration: none;

        }
      }
    }
  }
  .head {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .pic {
    img {
      width: 125px;
    }
  }
  .title {
    font-family: OpenSansSemibold;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    color: #3e3e3e;
  }
  .register_button {
    float: right;
    margin-right: -53px;
    margin-top: -5px;
  }
  .text {
    padding: 15px;
    strong {
      font-family: OpenSansSemibold;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.78;
      color: #3e3e3e;
      margin-top: 40px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.38;
      color: #9d9d9d;
    }
  }
  .register_form {
    min-width: 716px;
    margin-bottom: 95px;
    margin-top: 30px;
    float: right;
  }
}

@include respond-to(end_col){
  .service {
    .title {
      margin-top: 88px;
    }
    .pic {
      display: none;
    }
  }

}

@include respond-to(tablet){
  .white_line {
    height: 46px;
  }
  header.service {
    .go-main {
      a {
        line-height: 2;
        img {
          margin-top: -5px;
        }
      }
    }
    .call_wrap {
      display: none;
    }
    .m_call_wrap {
      display: block;
      width: 64px;
      height: 45px;
      border-radius: 2px;
      background-color: #932724;
      z-index: 40;
      float: right;
      margin-top: -4px;
      margin-right: -15px;
      a {
        display: block;
        padding-bottom: 10px;
      }
      img {
        margin-top: 12px;
        margin-left: 10px;
      }
    }
  }
  .service {
    .pic {
      display: none;
    }
    .title {
      margin-top: 90px;
      margin-left: -136px;
    }
    .text {
      margin-left: -43px;
    }
    .register_button {
      float: none;
      margin-right: 0;
      margin-left: -125px;
    }
    .head {
      margin-top: 40px;
      margin-bottom: 0;
    }

    .menu {
      ul{
        display: none;
      }
      .button-menu {
        display: block;
      }
    }

  }
}

@include respond-to(mobile){
  .service {
    .title {
      display: none;
    }
    .register_button {
      margin-left: -64px;
      margin-top: -7px;
    }
  }
}

@include respond-to(mobile320){
  header.service {
    .go-main {
      a {
        line-height: 2;
        img {
          height: 14px;
          margin-top: -3px;
          margin-right: 7px;
        }
      }
    }
  }

  .service {
    .register_button {
      width: 237px;
    }

  }
  .site .max_call_wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 640px;
    border-radius: 2px;
    background-color: rgba(147, 39, 36, 0.9);
    z-index: 1000000;
    .close-button-white {
      display: block;
      position: relative;
      top: 17px;
      left: 36px;
      img {
        width: 21px;
      }
    }
    .phone {
      position: absolute;
      top: 388px;
      left: 30px;
      margin-left: 19px;
      a {
        img {
          width: 30px;
        }
        p {
          font-size: 24px;
        }
      }
    }
    .time {
      position: absolute;
      top: 200px;
      left: 30px;
      width: 172px;
      img {
        width: 30px;
      }
      p {
        font-size: 24px;
      }
    }
    .call {
      display: block;
      position: absolute;
      left: 38px;
      bottom: 69px;
      background-color: #fff;
      height: 46px;
      width: 267px;
      //padding: 20px 40px;
      a {
        color: rgb(147, 39, 36);
        text-decoration: none;
        font-family: OpenSansSemibold;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        display: block;
        line-height: 44px;
      }
    }
  }
}